body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}

header {
  padding: 0;
  width: 98%;
  height: 30vh;
  position: relative;
  display: flex;
  margin: auto;
  background: rgba(191, 191, 191, 0.3);
}

.logo {
  flex: 1;
  position: relative;
}

.logo img {
  width: 22%;
  position: absolute;
  top: 0;
}

.nav {
  flex: 1;
  position: relative;
}

.nav ul {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.nav ul li {
  list-style: none;
  font-size: 1.rem;
  padding: 2px 3px;
  transition: 0.5s ease;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 4px;
  transition: .5s;
}
.nav ul li a:hover{
  color: #e30505;
}

main{
  width: 98%;
  height: 180vh;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  width: 98%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us{
  width: 90%;
  max-width: 600px;
  height: 20vh;
  position: absolute;
  top: 0;
  font-size: 1.5rem;
}
.contact-us p{
  font-size: 1rem;
  line-height: 1.5;
}
.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 90%;
  max-width: 600px;
  height: 80%;
  position: absolute;
  top: 10.5rem;
}
.more-info{
  width: 90%;
  max-width: 600px;
  height: 20vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-info p{
  line-height: 2;
  font-size: 1.2rem;
}
.more-info a{
  text-decoration: none;
  color: green;
  transition: 0.3s ease;
}
.more-info a:hover{
  color: #e30505;
}


input{
  width: 100%;
  outline: 0;
  font-size: 1rem;
  font-family:'Source Sans Pro', Lora, sans-serif;
  margin-top: .3rem;
  margin-bottom: 1rem;
  padding: 1rem .4rem .4rem;
  border-radius: 6px;
  background: transparent;
}
textarea{
  resize: vertical;
  width: 100%;
  outline: 0;
  padding: 1rem 0.4rem 0.4rem;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: .3rem;
  margin-bottom: 1rem;
  background: transparent
}

button{
  width: 30%;
  height: 8vh;
  margin-left: 35%;
  margin-top: 1rem;
  background:  #537a78;
  color: white;
  font-size: 1rem;
  font-family: sans-serif;
  outline: 0;
}
button:hover{
transform: translateY(5px);
outline: 0;
}







footer {
  position: relative;
  width: 99%;
  height: 35vh;
  margin: auto;
  background: rgba(191, 191, 191, 0.3);
  display: flex;
}

footer div {
  flex: 1;
}

footer li {
  list-style: none;
}

#first img {
  width: 6%;
  margin-left: 1rem;
}

#first ul {
  margin-left: 2rem;
}

#first .address {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 1.2rem;
}

#middle img {
  width: 4%;
  padding-top: .3rem;
}

#middle ul {
  margin-left: 1rem;
}

#third {
  position: relative;
}

#third .media {
  width: 30%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 1rem;
  right: 4rem;
}

#third img {
  width: 50%;
}


/*Screen (300-500px height and width)*/
@media screen and (min-width:300px) and (max-width:500px) and (orientation:portrait) {
  header {
    height: 12vh;
  }
  .logo img {
    width: 60%;
  }

  .nav ul {
    top: .7rem;
    right: 1rem;
  }
  .nav ul li{
    font-size: .5rem;
  }

  .more-info p{
    text-align: center;
  }

  footer{
    flex-direction: column;
    height: 51vh;
    display: flex;
    justify-content: center;
  }

  #first{
    margin-left: 2rem;
    border-bottom: .5px solid grey;
  }

  #middle{
    margin-left: .5rem;
    border-bottom: .5px solid grey;
  }

  #third{
   border-bottom: .5px solid grey;
  }

  #first ul{
  font-size: .8rem;
  }
  #first .address{
    font-size: 1rem;
  }
  #middle ul{
    margin-top: 2rem;
    font-size: .8rem;
  }
}

@media screen and (min-height:300px) and (max-height: 500px) and (orientation:landscape){
  header{
    height: 45vh;
  }
  .logo img{
    width: 50%;
  }

  main{
    height: 365vh;
  }

  footer{
    height: 60vh;

  }
}

/*Screen (501-770px height and width)*/

@media screen and (min-width:501px) and (max-width: 770px) and (orientation: portrait){
  header{
    height: 20vh;
  }
  .logo img{
    width: 50%;
  }
  main{
    height: 120vh;
  }

  footer{
    height: 33vh;
  }

}

@media screen and (min-height:501px) and (max-height: 770px) and (orientation:landscape){
header{
  height: 30vh;
}
  .logo img{
    width: 45%;
  }
}

/*Screen ipad Air portrait and landscape*/
@media screen and (device-width:820px) and (orientation:portrait)  {
  header{
    height: 23vh;
  }
  .logo img{
    width: 60%;
  }
  .nav ul{
    margin-top: 2.7rem;
    font-size: 1.4rem;
  }
  main{
    height: 120vh;
    font-size: 1.4rem;
  }

  footer{
    font-size: 1.4rem;
  }
}
@media screen and (device-height:820px) and (orientation:landscape){
  header{
    height: 25vh;
  }
  .logo img{
    width: 50%;
  }
  .nav ul{
    font-size: 1.4rem;
  }
  footer{
    font-size: 1.4rem;
  }
}

/*Bigscreens and laptops*/
@media screen and (min-width:1025px){
  header{
    height: 40vh;
  }
  .nav ul{
    margin-top: 2rem;
  }
}
/*Screen ipad pro landscape and portrait*/

@media screen and (device-width:1024px) and (orientation: portrait){
header{
  height: 15vh;
}
  .logo img{
    width: 50%;
  }
  .nav ul{
    font-size: 1.6rem;
  }
  footer{
    font-size: 1.4rem;
  }

}
@media screen and (device-height:1024px) and (orientation:landscape)
{
  header{
    height: 26vh;
  }
  .logo img{
    width: 45%;
  }
  .nav ul{
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}
