body {
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.09;
}

header {
  padding: 0;
  width: 98%;
  height: 30vh;
  position: relative;
  display: flex;
  margin: auto;
  background: rgba(191, 191, 191, 0.3);
}

.logo {
  flex: 1;
  position: relative;
}

.logo img {
  width: 70%;
  position: absolute;
  top: 0;
}

.title {
  flex: 2;
  padding-top: 5rem;
  color: #753188;
  font-size: 1.3rem;
  text-align: center;
}

.nav {
  flex: 1;
  position: relative;
}

.nav ul {
  position: absolute;
  right: 2rem;
  top: 2.6rem;
}

.nav ul li {
  list-style: none;
  font-size: 1.rem;
  padding: 2px 3px;
}

.nav ul li a {
  text-decoration: none;
  color: #2C272E;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 4px;
  transition: 0.5s;
}

.nav ul li a:hover {
  color: #e30505;
}

main {
  width: 98%;
  background: white;
  margin: auto;
  font-family: 'Source Sans Pro', Lora, sans-serif;
  background: rgba(236, 236, 236, 0.2);
  color: black;
}

.boxes {
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
}

.box1 {
  width: 25.5%;
  position: relative;
  background: rgba(191, 191, 191, 0.3);
  margin-top: 0;
}

.box1 ul li {
  list-style: none;
}

.box1 ul li a {
  text-decoration: none;
}

.box1 .ul span {
  margin-left: 10px;
}

.box1 .ul li {
  margin-bottom: .5rem;
}

.box2 {
  position: relative;
  margin: 3.5rem auto;
}

.container {
  width: 98%;
  margin: auto;
}

.cont1 p {
  line-height: 2.5;
}

.cont2 {
  position: relative;
  display: flex;
  background: rgba(183, 193, 172, 0.4);
}

.cont2 .image {
  position: relative;
  width: 20%;
  flex: 1;
  margin: 1rem 0 0.7rem 0.7rem;
}

.image img {
  width: 80%;
  border-radius: 6px;
}

.shadow::after {
  content: " ' In 1913 Clara was forced to adopt a height restriction ' ";
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 98.6%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  border-radius: 6px;
  opacity: 0;
  float: left;
  transition: opacity 0.5s ease;
}

.shadow:hover::after {
  opacity: 1;
}

.cont2 .p1 {
  position: relative;
  margin: 5rem 0 0;
  width: 20%;
  flex: 1;
}

.cont2 .p1 p {
  line-height: 2;
}

.p2 {
  margin-top: 4rem;
}

.p2 p {
  line-height: 2.5;
}

.p2 hr {
  margin-top: 3rem;
  border: 0 0 .5px solid grey;
}

.cont3 {
  margin-top: 4rem;
  position: relative;
  height: 100vh;
}

.cont3 p {
  line-height: 2;
}

.cont3 p a {
  text-decoration: none;
  font-weight: 600;
}

.cont3 .objectives {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 7rem;
}

.object {
  position: absolute;
  display: inline-block;
  flex: 1;
  width: 43%;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem 5rem 0.5rem;
  border: 2px solid rgba(30, 130, 76, 0.4);
  border-radius: 6px;
  background: #EFEFEF;
  box-shadow: 4px 6px rgba(149, 165, 166, 0.2);
  font-weight: 550;
}

.object:hover {
  border: 2px solid #019267;
  box-shadow: 0 0 6px 8px rgba(149, 165, 166, 0.4);
  transform: translateY(10px);
}

.object h3 {
  color: #e30505;
}

.object p {
  line-height: 2.5;
  text-align: justify;
}

.means {
  width: 43%;
  position: absolute;
  right: 1rem;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  border: 2px solid rgba(30, 130, 76, 0.4);
  border-radius: 6px;
  background: #EFEFEF;
  box-shadow: 4px 6px rgba(149, 165, 166, 0.2);
}

.means:hover {
  border: 2px solid #019267;
  box-shadow: 0 0 6px 8px rgba(149, 165, 166, 0.4);
  transform: translateY(10px);
}

.means h3 {
  color: #e30505;
}

.means p {
  line-height: 2.5;
  text-align: justify;
}

.means a {
  text-decoration: none;
}

.cont4 {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont4 p {
  line-height: 2;
  font-weight: 600;
}

.cont4 a {
  text-decoration: none;
  color: green;
  transition: 0.3s ease;
}

.cont4 a:hover {
  color: #e30505;
}

.cont4 button {
  margin-left: 1rem;
  width: 20%;
  padding: .4rem auto;
}

footer {
  position: relative;
  width: 99%;
  height: 35vh;
  margin: auto;
  background: rgba(191, 191, 191, 0.3);
  display: flex;
}

footer div {
  flex: 1;
}

footer li {
  list-style: none;
}

#first img {
  width: 6%;
  margin-left: 1rem;
}

#first ul {
  margin-left: 2rem;
}

#first .address {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 1.2rem;
}

#middle img {
  width: 4%;
  padding-top: .3rem;
}

#middle ul {
  margin-left: 1rem;
}

/*MEDIA QUERIES*/
/*Screen (300-500px height and width)*/
@media screen and (min-width:300px) and (max-width: 500px) and (orientation: portrait) {
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.06;
  }

  header {
    height: 12vh;
  }

  .logo img {
    width: 120%;
  }

  .title {
    flex: 3;
    padding-top: 1.4rem;
    font-size: 0.5rem;
  }

  .nav ul {
    top: .7rem;
    right: 1rem;
  }

  .nav ul li {
    font-size: .5rem;
  }

  main {
    font-size: .8rem;
  }

  .box1 {
    width: 70%;
  }

  .cont2 {
    position: relative;
    display: flex;
    background: rgba(183, 193, 172, 0.4);
    flex-direction: column;
  }

  .cont2 .image {
    margin: 1.2rem auto;
    width: 98%;
  }

  .image img {
    width: 100%;
    border-radius: 0;
  }

  .cont2 .p1 {
    position: relative;
    margin: 1.2rem auto;
    width: 98%;
    flex: 1;
    text-align: center;
    text-indent: 0;
  }

  .shadow::after {
    border-radius: 0;
    width: 100%;
    height: 99%;
  }

  .cont3 .objectives {
    display: flex;
    flex-direction: column;
    height: 77vh;
  }

  .object {
    width: 80%;
    height: 30vh;
    margin-left: 0;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  }

  .means {
    width: 80%;
    bottom: 0;
    height: 39vh;
    right: 0;
  }

  footer {
    flex-direction: column;
    height: 51vh;
    display: flex;
    justify-content: center;
  }

  #first {
    margin-left: 2rem;
    border-bottom: .5px solid grey;
  }

  #middle {
    margin-left: .5rem;
    border-bottom: .5px solid grey;
  }

  #third {
    border-bottom: .5px solid grey;
  }

  #first ul {
    font-size: .8rem;
  }

  #first .address {
    font-size: 1rem;
  }

  #middle ul {
    margin-top: 2rem;
    font-size: .8rem;
  }
}

@media screen and (min-height:300px) and (max-height: 500px) and (orientation:landscape) {
  header {
    height: 47vh;
  }

  .logo img {
    width: 90%;
  }

  .title {
    font-size: 0.8rem;
  }

  .cont1 p{
    font-size: .8rem;
  }
  .p2 p{
    font-size: .8rem;
  }
  .box1 {
    width: 40%;
  }

  .cont2 .image {
    margin: 5rem 0 3rem 1rem;
  }

  .shadow::after {
    height: 88%;
  }

  .cont2 .p1 {
    margin-right: .5rem;
    font-size: .7rem;
  }

  .cont3 {
    margin-bottom: 7rem;
  }
  .cont3 p{
    font-size: .8rem;
  }

  .cont4 {
    margin-top: 12rem;
  }

  footer {
    height: 50vh;
  }
}

/*Screen (501-770px height and width)*/
@media screen and (min-width:501px) and (max-width: 770px) and (orientation: portrait) {
  .bg {
    top: 13rem;
  }

  header {
    height: 16vh;
  }

  .logo img {
    width: 100%;
  }

  .title {
    flex: 3;
    padding-top: 2rem;
    font-size: 0.8rem;
  }

  .nav ul {
    top: 1rem;
    right: 1rem;
  }

  .nav ul li {
    font-size: .9rem;
  }

  main {
    font-size: .9rem;
  }

  .box1 {
    width: 55%;
  }

  .cont2 {
    position: relative;
    display: flex;
    background: rgba(183, 193, 172, 0.4);
    flex-direction: column;
  }

  .cont2 .image {
    margin: 1.2rem auto;
    width: 98%;
  }

  .image img {
    width: 100%;
    border-radius: 0;
  }

  .cont2 .p1 {
    position: relative;
    margin: 1.2rem auto;
    width: 98%;
    flex: 1;
    text-align: center;
    text-indent: 0;
  }

  .shadow::after {
    border-radius: 0;
    width: 100%;
    height: 99%;
  }

  .cont3 .objectives {
    display: flex;
    flex-direction: column;
    height: 77vh;
  }

  .object {
    width: 80%;
    height: 30vh;
    margin-left: 0;
  }

  .means {
    width: 80%;
    bottom: 0;
    height: 39vh;
    right: 0;
  }

  footer {
    height: 30vh;
    display: flex;
    justify-content: center;
  }

  #first ul {
    font-size: .9rem;
    margin-right: 1rem;
  }

  #first img {
    width: 10%;
  }

  #first .address {
    font-size: 1rem;
  }

  #middle ul {
    margin-top: 2rem;
    font-size: .9rem;
  }

  #third .media {
    top: 1.5rem;
  }
}

@media screen and (min-height:501px) and (max-height: 770px) and (orientation:landscape) {
  header {
    height: 25vh;
  }

  .bg {
    top: 13rem;
  }

  .logo img {
    width: 90%;
  }

  .title {
    font-size: 0.8rem;
  }

  .box1 {
    width: 50%;
  }

  .cont2 .image {
    margin: 5rem 0 3rem 1rem;
  }
}

/*Screen (501-700px height and width)*/
/*Screen ipad Air portrait and landscape*/
@media screen and (device-width:820px) and (orientation:portrait) {
  main {}

  header {
    height: 16vh;
  }

  .logo img {
    width: 100%;
  }

  .title {
    flex: 3;
    font-size: 1rem;
  }

  .nav ul {
    top: 2.5rem;
    right: 2rem;
  }

  .shadow::after {
    width: 80%;
    height: 93%;
  }

  main {
    font-size: 1.6rem;
  }

  .box1 {
    font-size: 1.3rem;
    width: 50%;
  }

  .cont2 {
    position: relative;
    display: flex;
    background: rgba(183, 193, 172, 0.4);
    flex-direction: column;
    height: 100vh;
  }

  .cont2 .image {
    position: relative;
    width: 100%;
    flex: 1;
    margin: 1rem 0 1.5rem 5rem;
  }

  .cont2 .p1 {
    position: relative;
    width: 83%;
    flex: 1;
    text-align: center;
    text-indent: 0;
    margin: auto;
  }

  .object {
    height: 50vh;
  }

  .means {
    height: 65vh;
  }

  .cont4 {
    margin-top: 13rem;
  }

  footer {
    font-size: 1.5rem;
  }
}

/*Screen ipad pro landscape and portrait*/
@media screen and (device-width:1024px) and (orientation:portrait) {
  header {
    height: 15vh;
  }

  .bg {
    top: 24rem;
  }

  .logo img {
    width: 90%;
  }

  .nav ul li {
    font-size: 1.3rem;
  }

  main {
    font-size: 1.4rem;
  }

  .box1 {
    width: 40%;
  }

  footer {
    height: 36vh;
    font-size: 1.3rem;
  }
}

/*Big screens and laptops*/
@media screen and (min-width:1025px) {
  header {
    height: 40vh;
  }

  .title {
    padding-top: 8rem;
    font-size: 1.4rem;
  }

  .nav ul {
    margin-top: 2rem;
  }

  .bg {
    top: 13rem;
  }

  .box1 {
    width: 30%;
  }
}

@media screen and (device-height:1024px) and (orientation:landscape) {
  header {
    height: 26vh;
  }

  .logo img {
    width: 80%;
  }

  .nav ul {
    margin-top: 3rem;
    font-size: 1.4rem;
  }

  main {
    font-size: 1.4rem;
  }

  .box1 {
    width: 36%;
  }

  footer {
    height: 33vh;
    font-size: 1.3rem;
  }
}
